doctype html
html
  head
    title Home
  body
    if !username
      p Добро пожаловать
      a(href="/sessions/new") Войти
    else
      p Привет, #{username}!
      form(action="/sessions/delete" method="post")
        button(type="submit") Выйти
